<div><span>{{{.N}}}</span>
    Which is not an advantage of using a closure?
    <ol class="list-unstyled">
        <li>
            <input id="a1" type="radio" name="answer" ng-model="answer" value="1">
            <label for="a1">Prevent pollution of global scope</label>
        </li>
        <li>
            <input id="a2" type="radio" name="answer" ng-model="answer" value="2">
            <label for="a2">Encapsulation</label>
        </li>
        <li>
            <input id="a3" type="radio" name="answer" ng-model="answer" value="3">
            <label for="a3">Private properties and methods</label>
        </li>
        <li>
            <input id="a4" type="radio" name="answer" ng-model="answer" value="4">
            <label for="a4">Allow conditional use of <code>"strict  mode"</code></label>
        </li>
    </ol>
</div>
{{{define "Q.A.1"}}}4{{{end}}}
