<div><span>{{{.N}}}</span>
    To create a columned list of two ­line email subjects and dates for a master­
    detail view, which are the most semantically correct?
    <ol class="list-unstyled">
        <li>
            <input id="a1" type="radio" name="answer" ng-model="answer" value="1">
            <label for="a1">&lt;div&gt;+&lt;span&gt;</label>
        </li>
        <li>
            <input id="a2" type="radio" name="answer" ng-model="answer" value="2">
            <label for="a2">&lt;tr&gt;+&lt;td&gt;</label>
        </li>
        <li>
            <input id="a3" type="radio" name="answer" ng-model="answer" value="3">
            <label for="a3">&lt;ul&gt;+&lt;li&gt;</label>
        </li>
        <li>
            <input id="a4" type="radio" name="answer" ng-model="answer" value="4">
            <label for="a4">&lt;p&gt;+&lt;br&gt;</label>
        </li>
        <li>
            <input id="a5" type="radio" name="answer" ng-model="answer" value="5">
            <label for="a5">none of these</label>
        </li>
        <li>
            <input id="a6" type="radio" name="answer" ng-model="answer" value="6">
            <label for="a6">all of these</label>
        </li>
    </ol>
</div>
{{{define "Q.A.2"}}}2{{{end}}}
