<div><span>{{{.N}}}</span>
    <input id="a1" type="text" name="answer" ng-model="answer1" class="form-inline form-control"> and
    <input id="a2" type="text" name="answer" ng-model="answer2" class="form-inline form-control"> 
    would be the HTML tags you would use to display a menu item and its description.
    <style>
     input#a1, input#a2 {
         display: inline-block;
         max-width: 100px;
         line-height: 1.0;
         border: 0;
         border-bottom: 2px solid #999;
         text-align: center;
     }
    </style>
</div>
{{{define "Q.A.4"}}}nav;a{{{end}}}
