<div><span>{{{.N}}}</span>
    Given this:
    <img src="/assets/images/Q6_0.jpg" class="img-thumbnail" />
    Which message will be returned by injecting this service and executing
    <code>myService.getMessage()</code>
    <ol class="list-unstyled">
        <li>
            <input id="a1" type="radio" name="answer" ng-model="answer" value="1">
            <label for="a1">1</label>
        </li>
        <li>
            <input id="a2" type="radio" name="answer" ng-model="answer" value="2">
            <label for="a2">2</label>
        </li>
        <li>
            <input id="a3" type="radio" name="answer" ng-model="answer" value="3">
            <label for="a3">3</label>
        </li>
    </ol>
</div>
{{{define "Q.A.6"}}}3{{{end}}}
