<a href="/login">Login</a> |
<a href="/reg">Register</a> |
<a href="/take">Take Quiz</a> |
<a href="/results">View Results</a> |
<a href="/correct_results">View Correct Results</a> |
<a href="/logout">Logout</a> |
<a href="/test">Test</a>
