{{{define "TestHead"}}}
<link rel="stylesheet" href="/assets/lib/jasmine-2.4.1/jasmine.css" />
<script src="/assets/lib/jasmine-2.4.1/jasmine.js"></script>
<script src="/assets/lib/jasmine-2.4.1/jasmine-html.js"></script>
<script src="/assets/lib/jasmine-2.4.1/boot.js"></script>{{{end}}}
{{{ closure "page" "head = TestHead" "content = test_content.tmpl" }}}
